
<div class="container-fluid">
  <div class="row">
    <!-- FIELD FOR ADS -->
    <div class="col-3"></div>
    <!-- FIELD FOR CONTENT -->
    <div class="col-6">
      <div class="avatar-upload">
        <div class="avatar-preview">
          <div [ngStyle]="{backgroundImage: 'url(' + imgUrl + ')'}"></div>
        </div>
      </div>
      <div class="float-left"><h2>
        {{ userName }}
        <small class="text-muted"><br>Last login: {{ lastLogin | date: 'short' | uppercase }}</small>
      </h2></div><br>
      <div class="float-right"><button type="button" class="btn btn-primary btn-lg" (click)="onEdit()">Edit</button></div><br><br><br><br><br><br>
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onViewProducts()">View my products</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="onViewEvents()">View my events</button>
      <button type="button" class="btn btn-info btn-lg btn-block" (click)="onViewPosts()">View my posts</button><br><br>
      <!-- MY PRODUCTS -->
      <div
        class="search-results"
        infiniteScroll
        [infiniteScrollDistance]="5"
        [infiniteScrollThrottle]="100"
        (scrolled)="onScrollProducts()"
      >
        <div class="page-wrapper" *ngIf="onViewProductsClick">
          <div class="container">
            <h1 class="text-center">My products</h1><br><br>
            <app-product
              *ngFor="let product of verifiedProducts"
              [id]="product.id_product"
              [name]="product.title"
              [price]="product.price"
              [date_pub]="product.date_pub"
              [image]="product.images[0]" class="col-md-3">
              <!-- [category]="product.category" class="col-md-4 col-6 produit-grid filter" [ngClass]="product.category" -->
            </app-product>
            <hr>
          </div>
          <app-loading *ngIf="stillLoading"></app-loading>
        </div>
      </div>
      <!-- MY EVENTS -->
      <div
        class="search-results"
        infiniteScroll
        [infiniteScrollDistance]="5"
        [infiniteScrollThrottle]="100"
        (scrolled)="onScrollEvents()"
      >
        <div *ngIf="onViewEventsClick" class="text-center">
          <h1>My events</h1><br><br>
          <div class="container">
            <app-event-profile *ngFor="let event of verifiedEvents"
                               [title]="event.nom"
                               [location]="event.lieu"
                               [date]="event.dateheure_deb"
                               [description]="event.description"
                               [image]="event.image"
                               [id]="event.id_event"
                               [creator]="event.id_prop.username"
            ></app-event-profile>
            <hr>
          </div>
          <app-loading *ngIf="stillLoading"></app-loading>
        </div>
      </div>
      <!-- MY POSTS -->
      <div
        class="search-results"
        infiniteScroll
        [infiniteScrollDistance]="5"
        [infiniteScrollThrottle]="100"
        (scrolled)="onScrollPosts()"
      >
        <div class="page-wrapper" *ngIf="onViewPostsClick">
          <div class="container">
            <h1 class="text-center">My posts</h1><br><br>
            <app-post [posts]="verifiedPosts"
                      *ngFor="let post of verifiedPosts"
                      [id]="post.id"
                      [content]="post.content"
                      [date_pub]="post.date_pub"
                      [attached_file]="post.attached_file"
                      [shared_post]="post.shared_post"
                      [numberOfLikes]="post.like_count"
            ></app-post>
            <hr>
          </div>
          <app-loading *ngIf="stillLoading"></app-loading>
        </div>
      </div>
      <!-- EDIT -->
      <form *ngIf="onEditClick" (ngSubmit)="onSubmit()" [formGroup]="editForm">
        <h3>Edit settings</h3>
        <br>
        <div class="form-group">
          <div class="avatar-upload">
            <div class="avatar-edit">
              <input type='file' id="imageUpload" (change)="handleFileInput($event)" accept=".png, .jpg, .jpeg" />
              <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview">
              <div id="imagePreview" [ngStyle]="{backgroundImage: 'url(' + imgUrl + ')'}">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Username</label>
            <input type="text" class="form-control" id="username" formControlName="username">
          <div *ngIf="submitted && f.username.errors" class="field-error">
            <div *ngIf="f.username.errors.required">Username is required.</div>
          </div>
          <div *ngIf="submitted && usernameExist" class="field-error">Username already taken.</div>
        </div>
        <div class="form-group">
          <label for="example-tel-input">Phone Number</label>
            <input class="form-control" type="tel" id="example-tel-input" formControlName="phoneNumber">
          <div *ngIf="submitted && f.phoneNumber.errors" class="field-error">
            <div *ngIf="f.phoneNumber.errors.required">Phone number is required.</div>
            <div *ngIf="f.phoneNumber.errors.minlength || f.phoneNumber.errors.maxlength || f.phoneNumber.errors.pattern">Please enter a valid phone number.</div>
          </div>
          <!--<div *ngIf="submitted && phoneExist" class="field-error">Phone already used.</div>-->
          <!--<small class="form-text text-muted">We'll never share your phone number with anyone else.</small>-->
        </div>
        <div class="form-group">
          <label for="example-city-input">City</label>
          <input class="form-control" type="text" id="example-city-input" formControlName="city">
          <div *ngIf="submitted && f.city.errors" class="field-error">
            <div *ngIf="f.city.errors.required">City is required.</div>
          </div>
          <!--<div *ngIf="submitted && phoneExist" class="field-error">Phone already used.</div>-->
          <!--<small class="form-text text-muted">We'll never share your phone number with anyone else.</small>-->
        </div>
        <div class="form-group">
          <label class="mr-sm-2" for="inlineFormCustomSelect">Gender</label>
            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" formControlName="gender">
              <option selected hidden>{{ gender }}</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </div>
        <!--<div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ngModel formControlName="password">
          <div *ngIf="submitted && f.password.errors" class="field-error">
            <div *ngIf="f.password.errors.required">Password is required.</div>
          </div>
        </div>-->
        <br>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg">Save</button>
          <label>&nbsp;&nbsp;&nbsp;</label>
          <button type="reset" class="btn btn-secondary btn-lg" (click)="onCancel()">Cancel</button>
        </div>
        <br>
        <div class="form-error" *ngIf="incorrectData">Incorrect password.</div>
        <div class="form-success" *ngIf="changesSaved">Changes saved.</div>
        <div class="field-error" *ngIf="errorEditing">Failed editing.<br>Please check your network connection and try again.</div>
        <app-loading *ngIf="loading"></app-loading>
        <br><br><br><br><br><br><br>
      </form>
    </div>
    <!-- FIELD FOR ADS -->
    <div class="col-3"></div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
