<br><br>
<app-loading *ngIf="stillLoading"></app-loading>
<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-5 p-3 mb-2 bg-light text-dark">
      <div class="float-left">
        <img src="{{ image }}" width="800" height="400" class="img-thumbnail">
        <h4 class="text-muted">by <a routerLink="../../user/{{idCreator}}">{{ creator }}</a></h4>
        <div class="float-right">
          <br><button type="submit" class="btn btn-danger btn-lg" (click)="onLike()">Like</button>
          <label>&nbsp;&nbsp;&nbsp;</label>
          <button type="button" class="btn btn-success btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;Register&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div><br><br><br>
        <h4>About this Event</h4><br>
        <p class="lead">{{ description }}</p>
      </div><br>
    </div>
    <div class="col-3 p-3 mb-2 bg-light text-dark">
      <h3> {{ titre }} </h3><br>
      <h5> {{ date }} </h5><br>
      <p class="lead">{{ location }}</p>
    </div>
    <div class="col-3"></div>
  </div>
</div>
