h4 {
  font-family: Arial Black, Gadget, sans-serif;
  font-weight: 900px;
  color: #282562;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box {
  width: 20rem;
  height: calc(2.5em + .75rem + 2px);
}

#auth-msg {
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: small;
}

.form-error {
  color: #ee2761;
  font-size: 0.8125rem;
  margin: -0.75rem 0 0.9375rem;
  max-width: 25rem;
}

