<br><br>
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 text-center">
      <h4><strong>Sign In</strong></h4>
      <span id="auth-msg">Don't have an account? <a routerLink="../signup" style="color: #0056b3">Sign Up</a></span>
      <form [formGroup]="userForm" (ngSubmit)="onSignIn()">
        <div class="row centered form-group">
          <div class="col-xs-8 center-block"><br>
            <input class="form-control input-box" id="username" type="text" placeholder="Username" formControlName="userName">
          </div>
        </div>
        <div class="row centered form-group">
          <div class="col-xs-8 center-block">
            <input class="form-control input-box" id="password" type="password" placeholder="Password" formControlName="password">
          </div>
        </div>
        <div class="row centered form-group" style="line-height:75px;">
          <div class="col-xs-8 center-block">
            <button type="submit" class="btn btn-primary btn-sm form-control input-box" [disabled]="userForm.invalid"><span style="font-size: 17px;">Sign In</span></button>
            <div class="form-error" *ngIf="incorrectData">Incorrect username or password.</div>
            <div class="form-error" *ngIf="notVerified">Still not verified.</div>
          </div>
        </div>
        <app-loading *ngIf="loading" style="width: 2rem; height: 2rem;"></app-loading>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
