.btn {
  background-color: transparent;
  color: #434444;
  border-radius: 0.25rem;
  border: 1px solid #434444;
  width: 100%;
  margin-top: 20px;
  outline:none;
}

.btn:hover {
  background-color:#000863;
  color: #fff;
  outline:none;
}

.form-error {
  color: #ee2761;
  margin: -0.75rem 0 0.9375rem;
  max-width: 25rem;
}

.field-error {
  color: #ee2761;
  font-size: 1.1rem;
  margin: 1rem 0 0.9375rem;
}
