<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 bg-light">
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="col-md-12">
            <br>
            <h2 class="text-center">CREATE YOUR EVENT</h2> <br>
          </div>
          <!-- NAME -->
          <div class="form-group col-md-12">
            <h5>Name *</h5>
            <input type="text" class="form-control" id="inputName" formControlName="name">
            <div *ngIf="submitted && f.name.errors" class="field-error">
              <div *ngIf="f.name.errors.required">Name is required.</div>
              <div *ngIf="f.name.errors.minlength">Name must be at least 3 characters.</div>
              <div *ngIf="f.name.errors.maxlength">Name cannot be more than 30 characters long.</div>
            </div>
          </div>
          <!-- NAME -->
          <br>
          <!-- LOCATION -->
          <div class="form-group col-md-12">
            <h5>Location *</h5>
            <input type="text" class="form-control" id="inputLocation" formControlName="location">
            <div *ngIf="submitted && f.location.errors" class="field-error">
              <div *ngIf="f.location.errors.required">Location is required.</div>
              <div *ngIf="f.location.errors.maxlength">Location cannot be more than 30 characters long.</div>
            </div>
          </div>
          <!-- LOCATION -->
          <br>
          <!-- CATEGORY -->
          <div class="form-group col-md-12">
            <h5>Category *</h5>
            <select id="inputCategory" class="form-control custom-select" formControlName="category">
              <option value="Camping">Camping</option>
              <option value="Rondo">Rondo</option>
            </select>
            <div *ngIf="submitted && f.category.errors" class="field-error">
              <div *ngIf="f.category.errors.required">Category is required.</div>
            </div>
          </div>
          <!-- CATEGORY -->
          <br>
          <!-- DATE DEB -->
          <div class="form-group col-md-12">
            <div class="input-group-prepend">
              <h5>Start Date *</h5>
            </div>
            <input class="form-control" type="date" value="11-08-19" id="example-datedeb-input" formControlName="datedeb">
            <div *ngIf="submitted && f.datedeb.errors" class="field-error">
              <div *ngIf="f.datedeb.errors.required">Start date is required.</div>
            </div>
          </div>
          <!-- DATE DEB -->
          <br>
          <!-- DATE FIN -->
          <div class="form-group col-md-12">
            <div class="input-group-prepend">
              <h5>End Date *</h5>
            </div>
            <input class="form-control" type="date" value="11-08-19" id="example-datefin-input" formControlName="datefin">
            <div *ngIf="submitted && f.datefin.errors" class="field-error">
              <div *ngIf="f.datefin.errors.required">End date is required.</div>
            </div>
            <div *ngIf="submitted && debFin" class="field-error">
              Invalid date.
            </div>
            <div *ngIf="submitted && exceedDate" class="field-error">
              An event duration cannot exceed 14 days.
            </div>
          </div>
          <!-- DATE FIN -->
          <br>
          <!-- DESCRIPTION -->
          <div class="form-group col-md-12">
            <h5>Description *</h5>
            <textarea id="inputDescription" class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10" formControlName="description"></textarea>
            <div *ngIf="submitted && f.description.errors" class="field-error">
              <div *ngIf="f.description.errors.required">Description is required.</div>
            </div>
          </div>
          <!-- DESCRIPTION -->
          <br>
          <!-- IMAGE -->
          <div class="form-group col-md-12">
            <div class="input-group-prepend">
              <h5>Image *</h5>
            </div>
            <input type="file" id="image" formControlName="image" (change)="handleFileInput($event)">
            <div *ngIf="submitted && noPicture" class="field-error">
              Event image is required.
            </div>
          </div>
          <!-- IMAGE -->
          <div class="form-group col-md-12">
            <button type="submit" class="btn">ADD EVENT</button>
          </div>
        </div>
        <br><app-loading *ngIf="loading"></app-loading><br>
        <div class="form-error" *ngIf="errorAdding">Failed creating an event.<br>Please check your network connection and try again.</div>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
