<header style="background-color: #000863">
<div class="container1">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-12 bglight">
      <div class="btn-group">
      </div>
    </div>
    <div class="col-md-3 col-12 text-center ">
      <h2 class="my-md-3 site-title title-color" (click)="onHome()">Rondo Shop</h2>
    </div>
    <div class="col-md-4 col-12 col-sm-12 text-right links ">
      <p class="my-md-4 header-links">
          <img src="./assets/img/icons/search.png" class="px-2" >
          <img src="./assets/img/icons/cart.png" class="px-2">
          <img src="./assets/img/icons/user.png" class="px-2" routerLink="login" *ngIf="!authStatus">
        <img src="./assets/img/icons/exit-24.png" class="px-2" routerLink="signup" (click)="onSignOut()" *ngIf="authStatus">
      </p>
    </div>
  </div>
</div>
  <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar navbar-expand-lg navbar-light bg-light" style="left: 30%">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse center" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto text-center">
            <li class="logo">
              <img src="./assets/img/minlogo.png" alt="">
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="marketplace">Marketplace<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="products" (click)="onCatalog()">Catalog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="about-us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="lifestyle">Life Style</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Our follies
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Events
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="events">Rondo</a>
                <a class="dropdown-item" routerLink="events">Camping</a>
                <div class="dropdown-divider"></div>
              </div>
            </li>
            <li class="nav-item">
              <!--<a class="nav-link" routerLink="/user/{{idUser}}" *ngIf="authStatus">Profile</a>-->
              <a class="nav-link" routerLink="profile" *ngIf="authStatus">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
