/* Header */
.title-color {
  color:white;
}

.text-color {
  color:white;
}

.header {
  background-color:#eaeaea;
}

.container1 .dropdown-toggle,
.container1 .dropdown-item {
  font-size: 0.7em;
}

.header-links {
  margin-right: 0em;
}

/* Navbar */
.navbar-nav {
  padding: 3px 0.3em;
  float: left;
}

.navbar-nav .nav-link {
  font-size: 1em;
  color: black;
}

.navbar-nav .nav-item .nav-link {
  padding: 3px 1.3em;
}

.mr-auto {
  align-items: center;
  left: 10%;
}


