<br><br>
<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 text-center">
        <h4><strong>Sign Up</strong></h4>
        <span id="auth-msg">Already have an account? <a routerLink="../login" style="color: #0056b3">Sign In</a></span>
        <form [formGroup]="userForm" (ngSubmit)="onSignUp()">
          <div class="row centered form-group">
            <div class="col-xs-8 center-block"><br>
              <input class="form-control input-box" id="username" type="text" placeholder="Username" formControlName="username">
              <div *ngIf="submitted && f.username.errors" class="field-error">
                <div *ngIf="f.username.errors.required">Username is required.</div>
              </div>
              <div *ngIf="submitted && usernameExist" class="field-error">Username already taken.</div>
            </div>
          </div>
          <div class="row centered form-group">
            <div class="col-xs-8 center-block">
              <input class="form-control input-box" id="email" type="email" placeholder="Email" formControlName="email">
              <div *ngIf="submitted && f.email.errors" class="field-error">
                <div *ngIf="f.email.errors.required">Email is required.</div>
                <div *ngIf="f.email.errors.email">Please insert a valid email.</div>
              </div>
              <div *ngIf="submitted && emailExist" class="field-error">Email already used.</div>
            </div>
          </div>
          <div class="row centered form-group">
            <div class="col-xs-8 center-block">
              <input class="form-control input-box" id="password" type="password" placeholder="Password" formControlName="password">
              <div *ngIf="submitted && f.password.errors" class="field-error">
                <div *ngIf="f.password.errors.required">Password is required.</div>
                <div *ngIf="f.password.errors.minlength">Password should be at least 8 characters long.</div>
              </div>
            </div>
          </div>
          <div class="row centered form-group">
            <div class="col-xs-8 center-block">
              <input class="form-control input-box" id="conf-password" type="password" placeholder="Confirm Password" formControlName="confPassword">
              <div *ngIf="submitted && f.password.errors" class="field-error">
                <div *ngIf="f.password.errors.required">Confirm password is required.</div>
              </div>
              <div *ngIf="submitted && differentPassword" class="field-error">Different passwords.</div>
            </div>
          </div>
          <div class="row centered form-group">
            <div class="col-xs-8 center-block">
              <input class="form-control input-box" id="phone-number" type="tel" placeholder="Phone Number" formControlName="phoneNumber">
              <div *ngIf="submitted && f.phoneNumber.errors" class="field-error">
                <div *ngIf="f.phoneNumber.errors.required">Phone number is required.</div>
                <div *ngIf="f.phoneNumber.errors.minlength || f.phoneNumber.errors.maxlength || f.phoneNumber.errors.pattern">Please enter a valid phone number.</div>
              </div>
              <div *ngIf="submitted && phoneExist" class="field-error">Phone already used.</div>
            </div>
          </div>
          <div class="row centered form-group">
            <div class="col-xs-8 center-block">
              <input class="form-control input-box" id="city" placeholder="City" formControlName="city">
              <div *ngIf="submitted && f.city.errors" class="field-error">
                <div *ngIf="f.city.errors.required">City is required.</div>
              </div>
            </div>
          </div>
          <div class="row centered form-group">
            <div class="col-xs-8 center-block">
              <select class="custom-select mb-5 mb-sm-0" id="inlineFormCustomSelect" formControlName="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
              <div *ngIf="submitted && f.gender.errors" class="field-error">
                <div *ngIf="f.gender.errors.required">Gender is required.</div>
              </div>
            </div>
          </div>
          <div class="row centered form-group" style="line-height:75px;">
            <div class="col-xs-8 center-block">
              <button type="submit" class="btn btn-primary btn-sm form-control input-box"><span style="font-size: 17px;">Sign Up</span></button>
            </div>
          </div>
          <app-loading *ngIf="loading" style="width: 2rem; height: 2rem;"></app-loading>
        </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<br><br><br><br><br>
