h4 {
  font-family: Arial Black, Gadget, sans-serif;
  font-weight: 900px;
  color: #282562;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-box {
  width: 20rem;
  height: calc(2.5em + .75rem + 2px);
}

#auth-msg {
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: small;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: ' \270E';
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 4px;
  left: 2px;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.field-error {
  color: #ee2761;
  font-size: 1.1rem;
  margin: 1rem 0 0.9375rem;
}

