<!-- First Slider -->
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style=" background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;">
    <div class="carousel-item active">
      <img src="./assets/img/background/bg1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/img/background/bg2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/img/background/bg3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>
<br>
<!-- First Slider -->
<img class="text-center" src="../../assets/img/07/br.webp" alt="" style="width: 30%;margin-left: 35%">
<br><br>
<!-- Second Slider -->
<div class="container">
  <h2 class="text-center">
    BEST SAILER
  </h2>
  <hr>
  <div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">
      <!-- Slider1 -->
      <div class="carousel-item active">
        <div class="row">
          <div class="col-3"><img class="d-block w-100" src="./assets/img/07/art2.jpg" alt="First slide"> <a href="#" class="btn buy" style="outline: none;">view Details</a></div>
          <div class="col-3"><img class="d-block w-100" src="./assets/img/07/art3.jpg" alt="First slide"><a href="#" class="btn buy" style="outline: none;">view Details</a></div>
          <div class="col-3"><img class="d-block w-100" src="./assets/img/07/art4.jpg" alt="First slide"><a href="#" class="btn buy" style="outline: none;">view Details</a></div>
          <div class="col-3"><img class="d-block w-100" src="./assets/img/07/art5.jpg" alt="First slide"><a href="#" class="btn buy" style="outline: none;">view Details</a></div>
        </div>
      </div>
      <!-- Slider1 -->
      <!-- Slider2 -->
      <div class="carousel-item">
        <div class="row">
          <div class="col-3"><img class="d-block w-100" src="./assets/img/07/art6.jpg" alt="First slide"><a href="#" class="btn buy" style="outline: none;">view Details</a></div>
          <div class="col-3"><img class="d-block w-100" src="./assets/img/07/art7.jpg" alt="First slide"><a href="#" class="btn buy" style="outline: none;">view Details</a></div>
          <div class="col-3"><img class="d-block w-100" src="./assets/img/07/art8.jpg" alt="First slide"><a href="#" class="btn buy" style="outline: none;">view Details</a></div>
          <div class="col-3"><img class="d-block w-100" src="./assets/img/07/art9.jpg" alt="First slide"><a href="#" class="btn buy" style="outline: none;">view Details</a></div>
        </div>
      </div>
      <!-- Slider2 -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <hr>
</div>
<!-- Second Slider -->

<!-- Counter -->
<div class="container counter">
  <div class="row justify-content-center mt-5 mb-2" style="padding-top:150px">
    <h1 class="text-capitalize">
      <strong> Mega sale will be start Soon</strong>
    </h1>
  </div>
  <div class="row justify-content-center mt-5 text-light" style="padding-bottom:100px;font-size: 70px; font-weight: lighter;" id="demo"></div>
  <div class="row mt-1 pb-5">
    <div class="col-md-12 text-center">
      <a href="" class="btn btn-danger text-light btn-lg">
        Bye Now
      </a>
    </div>
  </div>
</div>
<!-- Counter -->
