/* Slider-one */
.slick-dots li.slick-active button {
  transform: scale(2.5);
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.205);
}

.slider-one {
  outline: none;
  left: 15%;
  width: 70%;
}

.site-slider {
  position: relative;
  outline: none;
}

.position-top {
  position: absolute;
  top: 50%;
}

.site-slider .slider-btn .prev,
.site-slider .slider-btn .next {
  background-color: #000863;
  padding:  1rem 1.5rem;
  border-radius: 10rem;
  color: white;
  margin: 0 1rem;
  opacity: 0;
  transition: 1s ease ;
}

.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next {
  opacity: 1;
}

.right1-0 {
  right: 15%;
}

.left1-0 {
  left: 15%;
}

/* Counter */
.counter {
  background-image: url(/assets/img/07/20150417-DL_HonestGoods-192.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

#discount {
  background-image: url(/assets/img/07/20150417-DL_HonestGoods-192.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.discount-session-content {
  padding: 150px 0;
  color: white;
}

.social-icon {
  font-size:50px;
  color: white;
}
