#discount {
  background-image: url(/assets/img/07/20150417-DL_HonestGoods-192.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.discount-session-content {
  padding: 150px 0;
  color: white;
}

.social-icon {
  font-size:50px;
  color: white;
}


