<!--follow us-->
<div class="container-fluid" id="discount">
  <div class="container discount-session-content">
    <div class="row">
      <div class="col-md-6">
        <h1 class="text-light text-capitalize">
          Follow us on
        </h1><br>
        <div class="social-icon">
          <i class="fab fa-facebook-square " aria-hidden="true"></i>&nbsp;
          <i class="fab fa-youtube"></i> &nbsp; &nbsp;
          <i class="fab fa-instagram"aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-md-6">
        <h1>
          Subscribe to get discount <br>
          coupons & new Offre!
        </h1>
        <form action="" class="form-inline">
          <div class="form-group  mx-sm-12 mb-2">
            <label for="inputPassword2" class="sr-only">
              Mail Id
            </label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Enter Your Mail Id">
            &nbsp; &nbsp;
          </div>
          <button type="submit" class="btn btn-danger text-light mb-2">SUBSCRIBE TO US</button>
        </form>
      </div>
    </div>
  </div>
</div>
