.hr {
  width: 300px;
  border: 3px solid #434444;
}

.produit-grid {
  padding-bottom: 20px;
  padding-top: 20px;
}

.produit-grid:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0 , 0.2), 0 6px 20px 0 rgba(0, 0, 0.19);
}

.image {
  position:relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(67 , 68, 68, 0.7);
}

.image:hover .overlay {
  opacity: 1;
}

.detail {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
  outline:none;
}

.buy {
  background-color: transparent;
  color: #434444;
  border-radius: 0.25rem;
  border: 1px solid #434444;
  width: 100%;
  margin-top: 20px;
  outline:none;
}

.buy:hover {
  background-color:#000863;
  color: #fff;
  outline:none;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
