<div>
  <div class="card text-center">
    <a routerLink="products/{{id}}" *ngIf="!inCatalog && !inMarketplace && !inProfile">
      <img src="{{ image }}" class="w-100" style="height: 300px; width: 300px; object-fit: cover; object-position: center center;">
      <div class="overlay">
        <div class="detail" routerLink="/single-product">view Details</div>
      </div>
    </a>
    <a routerLink="../products/{{id}}" *ngIf="(inMarketplace || inProfile) && !inCatalog">
      <img src="{{ image }}" class="w-100" style="height: 300px; width: 300px; object-fit: cover; object-position: center center;">
      <div class="overlay">
        <div class="detail" routerLink="/single-product">view Details</div>
      </div>
    </a>
    <a [routerLink]="[id]" *ngIf="inCatalog">
      <img src="{{ image }}" class="w-100" style="height: 300px; width: 300px; object-fit: cover; object-position: center center;">
      <div class="overlay">
        <div class="detail" routerLink="/single-product">view Details</div>
      </div>
    </a>
    <div class="card-title" style="height: 50px; overflow: hidden">
      <p>{{ name }}</p>
    </div>
  </div>
  <div class="card-text text-center">
    <hr>
    {{ price }}DT<br>
    <a routerLink="products/{{id}}" class="btn  text-light" style="background-color: #000863" *ngIf="!inCatalog && !inMarketplace">View details</a>
    <a routerLink="../products/{{id}}" class="btn  text-light" style="background-color: #000863" *ngIf="inMarketplace && !inCatalog">View details</a>
    <a [routerLink]="[id]" class="btn  text-light" style="background-color: #000863" *ngIf="inCatalog">View details</a>
    &nbsp; <a routerLink="" class="btn btn-danger" *ngIf="isAdmin" (click)="onDelete()">Delete</a>
    &nbsp; <a routerLink="" class="btn btn-success" *ngIf="isAdmin && valid === 0" (click)="onVerify()">Verify</a>
    &nbsp; <a routerLink="" class="btn btn-dark" *ngIf="isAdmin && !adminProduct" (click)="onBlock()">Block</a>
    <!--<a class="btn btn-danger" (click)="onLike()">Like</a>-->
  </div>
  <br>
</div>

