<div class="row align-items-start">
  <div class="col">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="title">Title</span>
      </div>
      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="{{ title }}">
    </div>
  </div>
  <div class="col">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="location">Location</span>
      </div>
      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" value="{{ location }}">
    </div>
  </div>
  <div class="col">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm" for="example-date-input">Date</span>
      </div>
      <input class="form-control" type="date" value="11-08-19" id="example-date-input">
    </div>
  </div>
  <img src="{{ image }}" class="d-block w-100 img-thumbnail" alt="...">
  <div></div>
  <div class="input-group mb-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Description</span>
      </div>
      <textarea class="form-control" aria-label="With textarea" id="description">{{ description }}</textarea>
    </div>
  </div>
</div>

