<div class="post">
  <img src="{{ attached_file }}" alt="" class="post-image">
  <div class="post-preview">
    <h3>
      <a>{{ title }}</a>
    </h3>
    <i class="far calendar"> &nbsp;{{ date_pub | date: 'short' | uppercase }}</i>
    <p class="preview-text" style="overflow: hidden;">
      {{ content }}
    </p>
    &nbsp; <a routerLink="" class="btn btn-danger" *ngIf="isAdmin" (click)="onDelete()">Delete</a>
    &nbsp; <a routerLink="" class="btn btn-success" *ngIf="isAdmin && valid === 0" (click)="onVerify()">Verify</a>
    &nbsp; <a routerLink="" class="btn btn-dark" *ngIf="isAdmin && !adminPost" (click)="onBlock()">Block</a>
    <a routerLink="{{id}}" class="btn read-more">Read More</a>
    <a class="btn btn-danger" (click)="onLike()">Like</a>
    <a>{{ numberOfLikes }} people liked this.</a>
    <a class="text-danger" *ngIf="alreadyLiked">You already liked this post!</a>
  </div>
</div>
