::after {
  content:  '';
  display: block;
  clear: both;
}

.post {
  width: 95%;
  height: 270px;
  margin: 10px auto;
  border-radius: 5px;
  background: white;
  position: relative;
}

.read-more {
  position: absolute;
  bottom: 15px;
  right: 10px;
}

.post-image {
  width:40%;
  height:100%;
  float: left;
}

.post-preview {
  width: 60%;
  padding: 25px;
  float: right;
}

.btn {
  background-color: transparent;
  color: #434444;
  border-radius: 0.25rem;
  border: 1px solid #434444;
  margin-top: 20px;
  outline:none;
  float: right;
}

.btn:hover {
  background-color:#000863;
  color: #fff;
  outline:none;
}
