<footer class="container-fluid mt-5">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-6">
        <h3>RONDO SHOP</h3>
        <p>
          description
        </p>
      </div>
      <div class="col-md-3">
        <h3>
          Aide
        </h3>
      </div>
      <div class="col-md-3">
        <h3>
          About us
        </h3>
      </div>
    </div>
  </div>
</footer>
