.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.content {
  width: 90%;
}

.content .main-content {
  width: 71.5%;
  float: right;
}

.content .sidebar {
  width: 28.5%;
  float: left;
}

.content .sidebar .section {
  background: #f8f9fa!important;
  padding: 100px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: black;
}

.content .sidebar .section.topic ul {
  margin:0px;
  padding: 0px;
  list-style: none;
}

.content .sidebar .section.topic ul li a {
  display: block;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #000863;
  color: black;
  transition: all 0.3s;
}

.content .sidebar .section.topic ul li a:hover {
  padding-left:20px;
  transition: all 0.3s;
}

/* Products Grid */

.hr {
  width: 300px;
  border: 3px solid #434444;
}

.produit-grid {
  padding-bottom: 20px;
  padding-top: 20px;
}

.produit-grid:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0 , 0.2), 0 6px 20px 0 rgba(0, 0, 0.19);
}

.image {
  position:relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(67 , 68, 68, 0.7);
}

.image:hover .overlay {
  opacity: 1;
}

.detail {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
  outline:none;
}

.feather {
  width: 8%;
  margin-top: 25px;
  outline:none;
  float:right;
  margin-left: 95%;
  position: fixed;
}
