  /*@import url("fontscss.css?family=Dosis:400,700");*/

:root {
  --main-white-color: #f2f2f2;
  --main-black-color: black;
  --main-purple-color: #9e89b8;
}

.page_event {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

button {
  background: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: snow;
}

body {
  font: 16px/1.5 "Dosis", sans-serif;
  /*IE FIX*/
  /*display: flex;
  flex-direction: column;*/
}






/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */

div.event {
	padding-left: 37px;
    float: left;
    box-shadow: 0;
    opacity: 0.8;
    transition: 0.3s;
    height: 280px;
    width: 50%;
    min-width: 385px;
    margin-top: 96px;
    top: -39px;
}

.event {
  position: relative;
}

div.event:hover > img {
  box-shadow: 0 0 10px #000;
  transition: 0.75s;
}

div.event:hover > div.desc > div.title {
  opacity: 1;
  transition: 0.5s;
}

div.event:hover > div.desc > div.date {
  opacity: 1;
  transition: 0.5s;
}

div.event:hover > div.desc > div.location {
  opacity: 1;
  transition: 0.5s;
}

div.event:hover > div.desc > div.button {
  opacity: 1;
  transition: 2s;
}

div.event:hover {
  opacity: 1;
}

div.event img {
  width: 89%;
  height: 15vw;
  border-radius: 8px;
  box-shadow: 0;
}

.title {
  opacity: 0;
  color: white;
  font-family: Gill Sans, sans-serif;
  position: absolute;
  top: 65%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.date {
  opacity: 0;
  color: red;
  font-family: Gill Sans, sans-serif;
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.location {
  opacity: 0;
  color: white;
  font-family: Gill Sans, sans-serif;
  position: absolute;
  top: 85%;
  left: 22%;
  transform: translate(-50%, -50%);
}

.button {
	opacity: 0;
}

.butt {
  position: absolute;
    top: 92%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 8px 8px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 14px;
    text-align: center;
	transition: all 1s;
}

.butt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.butt span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 1s;
}

.butt:hover span {
  padding-right: 25px;
}

.butt:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (max-width: 540px) {
       . {
        width: 100%;
        float:left;
       }
.date_num {
	font-size: 15px;
}

div.event {
    padding-left: 17px;
    float: left;
    box-shadow: 0;
    opacity: 0.8;
    transition: 0.3s;
    height: 200px;
    width: 100%;
    min-width: 350px;
    margin-top: -1px;
    top: 62px;
}

		div.event img {
  height: 32vw;
}

	.title {
    opacity: 0;
    color: white;
    font-family: Gill Sans, sans-serif;
    position: absolute;
    font-size: 3vw;
    top: 17vw;
    left: 19vw;
    transform: translate(-50%, -50%);
	}

	.date {
    opacity: 0;
    color: red;
    font-family: Gill Sans, sans-serif;
    position: absolute;
    top: 25vw;
    left: 8vw;
    font-size: 3vw;
    transform: translate(-50%, -50%);
	}

	.location {
    opacity: 0;
    color: white;
    font-family: Gill Sans, sans-serif;
    position: absolute;
    top: 24vw;
    left: 20vw;
    font-size: 2vw;
    transform: translate(-50%, -50%);
	}

	.butt {
    position: absolute;
    top: 25vw;
    left: 82vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 2vw;
    padding: 8px 8px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 14px;
    text-align: center;
    transition: all 1s;
	}

}

    /* Show three images on devices between 550 and 800px wide */
    @media screen and (min-width: 540px) and (max-width: 800px) {
       .col-6 {
        width: 33.333%;
        float:left;
       }

	   div.event {
    padding-left: 37px;
    float: left;
    left: -5px;
    box-shadow: 0;
    opacity: 0.8;
    transition: 0.3s;
    height: 200px;
    width: 100%;
    min-width: 385px;
    margin-top: 96px;
    top: -39px;
	}

	div.event img {
  height: 29vw;
}

	.title {
    opacity: 0;
    color: white;
    font-family: Gill Sans, sans-serif;
    position: absolute;
    top: 17vw;
    left: 19vw;
    transform: translate(-50%, -50%);
}

	.date {
    opacity: 0;
    color: red;
    font-family: Gill Sans, sans-serif;
    position: absolute;
    top: 24vw;
    left: 10vw;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

.date_num {
	font-size: 15px;
}

.location {
    opacity: 0;
    color: white;
    font-family: Gill Sans, sans-serif;
    position: absolute;
    top: 23vw;
    left: 21vw;
    transform: translate(-50%, -50%);
}

	.butt {
    position: absolute;
    top: 24vw;
	/* 25 */
    left: 82vw;
	/* 85 */
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 12px;
    padding: 8px 8px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 14px;
    text-align: center;
    transition: all 1s;
}



}

    /* Show five images on devices between 800px and 1180pxwide */
    @media screen and (min-width: 800px) and (max-width: 1180px) {
       .col-6 {
        width: 20%;
        float:left;
       }

	   div.event {
    padding-left: 17px;
    float: left;
    left: 5px;
    box-shadow: 0;
    opacity: 0.8;
    transition: 0.3s;
    height: 200px;
    width: 102%;
    min-width: 385px;
    margin-top: 227px;
    top: -158px;
}

div.event img {
  height: 32vw;
}

.title {
    opacity: 0;
    color: white;
    font-family: Gill Sans, sans-serif;
    position: absolute;
    top: 19vw;
    left: 14vw;
    transform: translate(-50%, -50%);
    /*font-size: 30px;*/
}

.date {
    opacity: 0;
    color: red;
    font-family: Gill Sans, sans-serif;
    position: absolute;
    top: 26vw;
    left: 6vw;
    transform: translate(-50%, -50%);
    /*font-size: 26px;*/
}

.date_num {
	font-size: 15px;
}

.location {
    opacity: 0;
    color: white;
    font-family: Gill Sans, sans-serif;
    position: absolute;
    top: 26vw;
    left: 16vw;
    transform: translate(-50%, -50%);
    /*font-size: 25px;*/
}

.butt {
    position: absolute;
    top: 27vw;
    left: 86vw;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    padding: 8px 8px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 14px;
    text-align: center;
    transition: all 1s;
}
	}

@media screen and (min-width: 1180px) {

	.title {
    opacity: 0;
    color: white;
    font-family: Gill Sans, sans-serif;
    position: absolute;
    top: 8vw;
    left: 9vw;
    transform: translate(-50%, -50%);
	}

	.date {
    opacity: 0;
    color: red;
    font-family: Gill Sans, sans-serif;
    position: absolute;
    top: 12vw;
    left: 5vw;
    transform: translate(-50%, -50%);
	}

	.date_num {
	font-size: 25px;
}

	.location {
    opacity: 0;
    color: white;
    font-family: Gill Sans, sans-serif;
    position: absolute;
    top: 11vw;
    left: 10vw;
    transform: translate(-50%, -50%);
	}

	.butt {
    position: absolute;
    top: 12.5vw;
	/* 12 */
    left: 42vw;
	/* 43 */
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 1vw;
    padding: 8px 8px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 14px;
    text-align: center;
    transition: all 1s;
	}

}

}
/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  display: flex;
  flex-direction: column-reverse;
  background: var(--main-white-color);
}

.page-footer ul {
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.page-footer ul li:not(:last-child) {
  margin-right: 20px;
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 550px) {
  .page-header ul {
    width: auto;
    margin-top: 0;
    margin-right: 2%;
  }

  .page-header .cta-contact {
    order: 1;
  }

  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    margin-top: 0%;
  }

  .page-footer ul {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .page-main {
    padding-left: 93px;
  }
}

