/*Slider-one***************************/
.slick-dots li.slick-active button{
  transform: scale(2.5);
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.205);
}
.slider-one{
  outline: none;
  left: 15%;
  width: 70%;
}
.site-slider{
  position: relative;
  outline: none;
}
.position-top{
  position: absolute;
  top: 50%;
}
.site-slider .slider-btn .prev,
.site-slider .slider-btn .next{
  background-color: #000863;
  padding:  1rem 1.5rem;
  border-radius: 10rem;
  color: white;
  margin: 0 1rem;
  opacity: 0;
  transition: 1s ease ;
}
.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next{
  opacity: 1;
}
.right1-0{
  right: 15%;
}
.left1-0{
  left: 15%;
}
/* slider2 ************************************/
.slider2{
  position: relative;
  width: 80%;

}
.position-top2{
  position: absolute;
  top: 40%;
}
.site-slider-two {
  position: relative;
  height: auto;
}
.site-slider-two .product{
  height: 25rem;
  position: relative;
  overflow: hidden;
}
.site-slider-two .product img{
  width: 90%;
  margin: auto;

}
.site-btn.btn-span{
  padding: 0.8rem 1.9rem;
  border-radius: 4rem;
  border: 2px solid #434444;
  background-color:white;
  color: #000863;
  width: 100%;
  margin-top: 20px;
  outline:none;
}
slider-two .slick-track span:hover a{
  background-color:#000863;
  color: white;
  cursor: pointer;
  outline: none;
}
.right2-0{
  right: 0%;
}
.left2-0
{
  left: 0%;
}
/*produitgrid–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hr{
  width: 100%;
  align-items: center;
  border: 3px solid #434444;
}
.produit-grid{
  padding-bottom: 20px;
  padding-top: 20px;
}
.produit-grid:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0 , 0.2), 0 6px 20px 0 rgba(0, 0, 0.19);
}
.image{
  position:relative;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(67 , 68, 68, 0.7);
}
.image:hover .overlay{
  opacity: 1;
}
.detail{
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
  outline:none;

}
.buy{
  background-color: transparent;
  color: #434444;
  border-radius: 0.25rem;
  border: 1px solid #434444;
  width: 100%;
  margin-top: 20px;
  outline:none;
}
.buy:hover{
  background-color:#000863;
  color: #fff;
  outline:none;
}
