html,body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #232323;
    text-align: left;
    background-color: white;
    height:100%
}
.page-wrapper{
min-height: 100%;


}
/*Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fixed-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-nav>li>a{
color: #fff;
}

.navbar-nav>li:hover{
border-bottom:1px solid #000863;
}
.navbar-nav>li>.active{
border-bottom:1px solid #000863;
}
#logo
{ 
	color: white;
	 font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: 30px
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5.5rem;
    padding-left: .5rem;
    font-size:30px;
}

/*ENDNavbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Search

–––––––––––––––––––––––––––––––––––––––––––––––––– */
#search {
    padding:5px;
	border-radius:40px;
	outline:none;
	border:1px solid #000863;
	width:30px;
	padding-left:30px;
	color: #fff;
	background:url('../img/icons/search.png')right no-repeat;
	transition: width 2s ;
    -webkit-transition:width 2s;
	-moz-transition:width 2s;
	-o-transition:width 2s;
	-ms-transition:width 2s;
	margin-top: 14px;
}
#search:focus{
	width: 200px;
}

/* main––––––––––––––––––––––––––––––––––––––––––––––––– */
/* SLIDER1–––––––––––––––––––––––––––––––––––––––––––––––––– */
.slide-title{
	font-weight: :100;
	font-size: 4vw;
	text-align: center;


}
.slide-subtitle{
	font-weight: :700;
	font-size: 2vw;
	text-align: center;
	color:#000863;
}
.carousel-caption{
	padding-bottom: 0px; /*200*/
	padding-right: 0px; /*900*/
}
.primary-button{
	background:#000863;
	color: #fff;
	border:1px solid #000863;
	border-radius: 50px;
	padding: 10px 50px 10px 50px;
	transition: 0.9s;
	outline:none;
}
.primary-button:hover{
	background:transparent;
	color:#000863;
	outline:none;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
/*produitgrid–––––––––––––––––––––––––––––––––––––––––––––––––– */

hr{
	margin-top: 1rem;
margin-bottom: 1rem;
border: 0;
border-top: 1px solid rgba(0,0,0,.1);
}
.produit-grid{
	padding-bottom: 20px;
	padding-top: 20px;
}
.produit-grid:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0 , 0.2), 0 6px 20px 0 rgba(0, 0, 0.19);
}
.image{
	position:relative;
}
.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color:rgba(67 , 68, 68, 0.7);
}
.image:hover .overlay{
	opacity: 1;
}
.detail{
	color: #fff;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	outline:none;

}
.buy{
	background-color: transparent;
	color: #434444;
	border-radius: 0.25rem;
	border: 1px solid #434444;
	width: 100%;
	margin-top: 20px;
	outline:none;
}
.buy:hover{
	background-color:#000863;
	color: #fff;
	outline:none;
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
	color: #fff;
	height: 311px;
	background: #434444;
	position: relative;
}
.footer .footer-content{
	height: auto;
	display: flex;
}
.footer .footer-content .footer-section{
	flex: 1;
	padding: 25px;
}
.footer .footer-content h1 
.footer .footer-content h2{
	color: white;

}
.footer .footer-content .about h1 span {
	color: #000863;
}
.footer .footer-content .about .contact span {
	display: block;
	font-size: 1.1em;
	margin-bottom: 8px
}
.footer .footer-content .about a {
	padding: 5px;
	width: 45px;
	height: 40px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;;

}
.footer .footer-content .about a:hover{
box-shadow: 0 2px 4px 0 rgba(0, 0, 0 , 0.1), 0 3px 10px 0 rgba(0, 0, 0.10);
}

.footer .footer-content .links h2 {
	font-size: 2.5em;
	margin-bottom: 8px;
	color: #000863;
}
.footer .footer-content .links ul li a  {
	display: block;
	margin-bottom: 10px;
	font-size: 1.2em;
	transition: all .3s;
	font-family: arial;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;

}
.footer .footer-content .links ul a:hover {
	color: white;
	margin-left: 15px;
	transition: all .3s;

	}

.footer .footer-content .contact-form .contact-input{
background: #272727;
color: white;
margin-bottom: 10px;
line-height: 1.5rem;
padding: .7rem 1.2rem;
outline:none;
border: none;
width: 220px;
}
.footer .footer-content .contact-form .contact-input:focus{
background: #1a1a1a;
}
.footer .footer-content .contact-form .contact-btn{
	margin-left: 145px;
}
.btn2{
	padding: .5rem 1rem;
	background: #000863;
	color: white;
	border: 1px solid transparent;
	border-radius:0.25rem;

	 }

	 .btn2:hover{
	 	color: white;
	 	background:#000863;
	 	box-shadow: 0 2px 4px 0 rgba(0, 0, 0 , 0.1), 0 3px 10px 0 rgba(0, 0, 0.10);

	 }
.btn-big{
	padding: .7rem 1.3rem;
	line-height: 1.3rem;
}
.footer-bottom{
	background:#434444;
	color: white;
	width: 100%;
	height: 45px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left:0px;
	padding-top:20px;

}





