.buy {
  background-color: transparent;
  color: #434444;
  border-radius: 0.25rem;
  border: 1px solid #434444;
  width: 85px;
  margin-top: 20px;
  outline: none;
  margin-left: 35px;
}

.outer-div {
  height:350px ;
  overflow: hidden;
}

.inner-div1 {
  height: 360px;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background-image:url(/assets/img/07/20150417-DL_HonestGoods-192.jpg);
}

.inner-div1:hover {
  transform: scale(1.2);
}

.inner-div2 {
  height: 360px;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background-image:url(/assets/img/07/20150417-DL_HonestGoods-192.jpg);
}

.inner-div2:hover {
  transform: scale(1.2);
}

.zoom-box-text {
  text-align: center;
  line-height: 300px;
}

.zoom-box-text {
  color: black;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



