<div class="container">
  <br>
  <img class="text-center" src="../../assets/img/07/br.webp" alt="" style="width: 45%;margin-left: 25%">
  <div class="row">
    <!-- Products -->
    <div class="container">
      <div class="row mt-5">
        <div style="margin-left: 40%">
          <h2>
            NEW PRODUCTS
          </h2>
        </div>
      </div>
        <div class="row mt-5">
          <app-product
            *ngFor="let product of products"
            [id]="product.id_product"
            [name]="product.title"
            [price]="product.price"
            [date_pub]="product.date_pub"
            [image]="product.images[0]"
            [adminProduct]="product.id_prop.roles.includes('ROLE_ADMIN')" class="col-md-3">
            <!-- [category]="product.category" class="col-md-4 col-6 produit-grid filter" [ngClass]="product.category" -->
          </app-product>
        </div>
      </div>
      <app-loading *ngIf="stillLoading" style="margin-left: 45%;"></app-loading>
    </div>
  </div>
<br>
<app-follow-us></app-follow-us>
