<a class="feather" routerLink="../add-event" *ngIf="!isBlocked"><img src="./assets/img/icons/feather.png" class="px-2" ></a>
<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="5"
  [infiniteScrollThrottle]="100"
  (scrolled)="onScroll()"
>
  <div class="page_event">
    <div class="md-form mt-0">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search" [(ngModel)]="searchEvents" >
    </div>
    <h1>Events Available</h1>
    <app-event *ngFor="let event of events | filter:searchEvents"
               [title]="event.nom"
               [loc]="event.lieu"
               [dat]="event.dateheure_deb"
               [id]="event.id_event"
               [img]="event.image"
               [valid]="event.valid"
               [adminEvent]="event.id_prop.roles.includes('ROLE_ADMIN')"></app-event>
  </div>
</div>
<app-loading *ngIf="stillLoading" style="margin-left: 535px; margin-top: 45px;"></app-loading>
