<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 bg-light">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-row bg-light">
          <div class="col-md-12">
            <br>
            <h2 class="text-center">ADD A PRODUCT</h2><br>
          </div>
          <!-- NAME -->
          <div class="form-group col-md-12">
            <h5>Name *</h5>
            <input type="text" class="form-control" id="inputName" formControlName="title">
            <div *ngIf="submitted && f.title.errors" class="field-error">
              <div *ngIf="f.title.errors.required">Name is required.</div>
              <div *ngIf="f.title.errors.minlength">Name must be at least 3 characters.</div>
              <div *ngIf="f.title.errors.maxlength">Name cannot be more than 30 characters long.</div>
            </div>
          </div>
          <!-- NAME -->
          <br>
          <!-- PRICE -->
          <div class="form-group col-md-12">
            <h5>Price *</h5>
            <input type="text" class="form-control" id="inputPrix" formControlName="price">
            <div *ngIf="submitted && f.price.errors" class="field-error">
              <div *ngIf="f.price.errors.required">Price is required.</div>
              <div *ngIf="f.price.errors.pattern">Numbers only.</div>
              <div *ngIf="f.price.errors.maxlength">Price cannot be more than 10 characters long.</div>
            </div>
          </div>
          <!-- PRICE -->
          <br>
          <!-- CATEGORY -->
          <div class="form-group col-md-12">
            <h5>Category *</h5>
            <select id="inputCategorie" class="form-control custom-select" formControlName="category">
              <option selected value="1"> TENTE ET ABRIS</option>
              <option value="2">COUCHAGE</option>
              <option value="3">MOBILIER DE CAMPING</option>
              <option value="4">BOIRE ET MANGER</option>
              <option value="5">HYGIENE</option>
            </select>
            <div *ngIf="submitted && f.category.errors" class="field-error">
              <div *ngIf="f.category.errors.required">Category is required.</div>
            </div>
          </div>
          <!-- CATEGORY -->
          <br>
          <!-- SIZE -->
          <div class="form-group col-md-12">
            <h5>Size *</h5>
            <select id="inputSize" class="form-control custom-select" formControlName="size">
              <option>SMALL</option>
              <option>MEDIUM</option>
              <option>XL</option>
              <option>XXL</option>
              <option>XXL</option>
            </select>
          </div>
          <!-- SIZE -->
          <br>
          <!-- COLOR -->
          <div class="form-group col-md-12">
            <h5>Color *</h5>
            <select id="inputColor" class="form-control custom-select" formControlName="color">
              <option>BLUE</option>
              <option>RED</option>
              <option>BLACK</option>
              <option>GREEN</option>
            </select>
            <div *ngIf="submitted && f.color.errors" class="field-error">
              <div *ngIf="f.color.errors.required">Color is required.</div>
            </div>
          </div>
          <!-- COLOR -->
          <br>
          <!-- DESCRIPTION -->
          <div class="form-group col-md-12">
            <h5>Description *</h5>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10" formControlName="description"></textarea>
            <div *ngIf="submitted && f.description.errors" class="field-error">
              <div *ngIf="f.description.errors.required">Description is required.</div>
            </div>
          </div>
          <!-- DESCRIPTION -->
          <br>
          <!-- CITY -->
          <div class="form-group col-md-12">
            <h5>City *</h5>
            <input type="text" class="form-control" id="inputVille" formControlName="city">
            <div *ngIf="submitted && f.city.errors" class="field-error">
              <div *ngIf="f.city.errors.required">City is required.</div>
              <div *ngIf="f.city.errors.maxlength">City cannot be more than 30 characters long.</div>
            </div>
          </div>
          <!-- CITY -->
          <br>
          <!-- ZIP -
          <div class="form-group col-md-12">
            <h5>ZIP *</h5>
            <input type="text" class="form-control" id="inputZip">
          </div>
          ZIP
          <br> -->
          <!-- IMAGE -->
          <div class="form-group col-md-12">
            <input type="file" id="image" formControlName="product[images][]" (change)="handleFileInput($event)" multiple="multiple">
            <div *ngIf="submitted && noPicture" class="field-error">
              At least one picture of the product is required.
            </div>
          </div>
          <!-- IMAGE -->
          <button type="submit" class="btn">ADD PRODUCT</button>
        </div>
        <br><app-loading *ngIf="loading"></app-loading><br>
        <div class="form-error" *ngIf="errorAdding">Failed adding a product.<br>Please check your network connection and try again.</div>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
