<a class="feather" routerLink="../add-post" *ngIf="!isBlocked"><img src="./assets/img/icons/feather.png" class="px-2" ></a>
<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="5"
  [infiniteScrollThrottle]="100"
  (scrolled)="onScroll()"
>
  <div class="content clearfix">
    <div class="main-content">
      <br>
      <h1 class="recent-post-title">Recent Posts</h1>
      <ng-container *ngIf="!isAdmin">
        <app-post [posts]="postsForUser"
                  *ngFor="let post of postsForUser"
                  [id]="post.id"
                  [content]="post.content"
                  [date_pub]="post.date_pub"
                  [attached_file]="post.attached_file"
                  [shared_post]="post.shared_post"
                  [numberOfLikes]="post.like_count"
                  [valid]="post.valid"
                  [adminPost]="post.id_user.roles.includes('ROLE_ADMIN')"
        ></app-post>
      </ng-container>
      <ng-container *ngIf="isAdmin">
        <app-post [posts]="postsForAdmin"
                  *ngFor="let post of postsForAdmin"
                  [id]="post.id"
                  [content]="post.content"
                  [date_pub]="post.date_pub"
                  [attached_file]="post.attached_file"
                  [shared_post]="post.shared_post"
                  [numberOfLikes]="post.like_count"
                  [valid]="post.valid"
                  [adminPost]="post.id_user.roles.includes('ROLE_ADMIN')"
        ></app-post>
      </ng-container>

    </div>
  </div>
</div>
<app-loading *ngIf="stillLoading"></app-loading>
