.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.content {
  width: 90%;
}

.content .main-content {
  width: 71.5%;
  float: right;
}

.content .sidebar {
  width: 28.5%;
  float: left;
}

.content .sidebar .section {
  background: #f8f9fa!important;
  padding: 100px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: black;
}

.content .sidebar .section.topic ul {
  margin:0px;
  padding: 0px;
  list-style: none;
}

.content .sidebar .section.topic ul li a {
  display: block;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #000863;
  color: black;
  transition: all 0.3s;
}

.content .sidebar .section.topic ul li a:hover {
  padding-left:20px;
  transition: all 0.3s;
}

.content {
  width: 90%;
  margin: 30px auto 30px;
}

.content .main-content {
  width: 70%;
  float:left;
}

.recent-post-title {
  margin: 50px;
}
.feather {
  width: 8%;
  margin-top: 25px;
  outline:none;
  float:right;
  margin-left: 95%;
  position: fixed;
}
