<a class="feather" routerLink="../add-product" *ngIf="isAdmin"><img src="./assets/img/icons/feather.png" class="px-2" ></a>
<div class="content clearfix">
  <!-- SIDE BAR -->
  <div class="sidebar">
    <br>
    <div class="section topic">
      <h2>MAIN MENU</h2>
      <ul>
        <li>
          <a routerLink=".."><img src="./assets/img/icons/home.png" class="px-1" >&nbsp;Home</a>
        </li>
        <li>
          <a routerLink="../marketplace"> <img src="./assets/img/icons/marketplace.png" class="px-1" > Marketplace</a>
        </li>
        <li>
          <a routerLink="../products"><img src="./assets/img/icons/shop.png" class="px-1" >&nbsp;Shop</a>
        </li>
        <li>
          <a routerLink="../lifestyle"><img src="./assets/img/icons/trekking.png" class="px-1" >&nbsp;Life Style</a>
        </li>
      </ul>
      <br>
      <h2>All categories</h2>
      <ul>
        <li>
          <a (click)="onCategory('TENTE ET ABRIS')"><img src="./assets/img/icons/tente.png" class="px-1" >&nbsp;Tente et abris</a>
        </li>
        <li>
          <a (click)="onCategory('COUCHAGE')"><img src="./assets/img/icons/couchage.png" class="px-1">&nbsp;Couchage</a>
        </li>
        <li>
          <a (click)="onCategory('MOBILIER DE CAMPING')"><img src="./assets/img/icons/backpack.png" class="px-1" >&nbsp;Mobilier de camping</a>
        </li>
        <li>
          <a (click)="onCategory('BOIRE ET MANGER')"><img src="./assets/img/icons/picnic.png" class="px-1" >&nbsp;Boire et manger</a>
        </li>
        <li>
          <a (click)="onCategory('HYGIENE')"><img src="./assets/img/icons/napkins.png" class="px-1" >&nbsp;Hygiene</a>
        </li>
        <li>
          <a (click)="onCategory('')"><img src="./assets/img/icons/tente.png" class="px-1" >&nbsp;Tous</a>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="5"
    [infiniteScrollThrottle]="100"
    (scrolled)="onScroll()"
  >
  <div class="row">
    <!--<div class="md-form mt-0">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search" [(ngModel)]="searchProducts" >
    </div>-->
    <!-- Products -->
    <ng-container *ngIf="!isAdmin">
      <app-product
        *ngFor="let product of productsForUser | filter:searchProducts"
        [id]="product.id_product"
        [name]="product.title"
        [price]="product.price"
        [date_pub]="product.date_pub"
        [image]="product.images[0]"
        [valid]="product.valid"
        [adminProduct]="product.id_prop.roles.includes('ROLE_ADMIN')" class="col-md-3">
        <!-- [category]="product.category" class="col-md-4 col-6 produit-grid filter" [ngClass]="product.category"> -->
      </app-product>
    </ng-container>
    <ng-container *ngIf="isAdmin">
      <app-product
        *ngFor="let product of productsForAdmin | filter:searchProducts"
        [id]="product.id_product"
        [name]="product.title"
        [price]="product.price"
        [date_pub]="product.date_pub"
        [image]="product.images[0]"
        [valid]="product.valid"
        [adminProduct]="product.id_prop.roles.includes('ROLE_ADMIN')" class="col-md-3">
        <!-- [category]="product.category" class="col-md-4 col-6 produit-grid filter" [ngClass]="product.category"> -->
      </app-product>
    </ng-container>
  </div>
  </div>
  <app-loading *ngIf="stillLoading" style="margin-left: 735px; margin-top: 265px;"></app-loading>
</div>
