<br><br>
<app-loading *ngIf="stillLoading"></app-loading>
<div class="container-fluid">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-5 p-3 mb-2 bg-light text-dark">
      <div class="float-left">
        <img src="{{ attached_file }}" width="800" height="400" class="img-thumbnail">
        <h4 class="text-muted">by <a routerLink="../../user/{{idUser}}">{{ username }}</a></h4>
        <div class="float-right">
          <br><button type="submit" class="btn btn-danger btn-lg" (click)="onLike()">Like</button>
          <label>&nbsp;&nbsp;&nbsp;</label>
          <button type="button" class="btn btn-success btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;Comment&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div><br><br><br>
        <h4>About this Post</h4><br>
        <p class="lead">{{ content }}</p>
      </div><br>
    </div>
    <div class="col-3 p-3 mb-2 bg-light text-dark">
      <h5> {{ date_pub | date: 'short' | uppercase }} </h5><br>
      <a>{{ numberOfLikes }} people liked this.</a>
    </div>
    <div class="col-3"></div>
  </div>
</div>
