<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 bg-light">
      <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="form-row bg-light">
          <div class="col-md-12">
            <br>
            <h2 class="text-center">ADD POST</h2><br>
          </div>
          <br>
          <!-- DESCRIPTION -->
          <div class="form-group col-md-12">
            <h5>Description *</h5>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10" formControlName="content"></textarea>
          </div>
          <!-- DESCRIPTION -->
          <br>
          <!-- IMAGE -->
          <div class="form-group col-md-12">
            <div class="input-group-prepend">
              <h5>Image *</h5>
            </div>
            <input type="file" id="image" formControlName="post[images][]" (change)="handleFileInput($event)" multiple="multiple">
            <div *ngIf="submitted && noPicture" class="field-error">
              At least one picture is required.
            </div>
          </div>
          <!-- IMAGE -->
          <button type="submit" class="btn">ADD POST</button>
        </div>
        <br><app-loading *ngIf="loading"></app-loading><br>
        <div class="form-error" *ngIf="errorAdding">Failed adding a post.<br>Please check your network connection and try again.</div>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
