<div class="event">
  <img src="{{ img }}">
  <div class="desc">
    <div class="title">{{ title }}</div>
    <div class="date">
      <label style="color: gray; font-family: Monospace, sans-serif;">{{ dat }}</label><br>
      <label class="date_num">29</label></div>
    <div class="location">{{ loc }}</div>
    <div class="button"><button class="butt" type="button" [routerLink]="[id]"><span>More details</span></button>
      &nbsp; <a routerLink="" class="btn btn-danger" *ngIf="isAdmin" (click)="onDelete()">Delete</a>
      &nbsp; <a routerLink="" class="btn btn-success" *ngIf="isAdmin && valid === 0" (click)="onVerify()">Verify</a>
      &nbsp; <a routerLink="" class="btn btn-dark" *ngIf="isAdmin && !adminEvent" (click)="onBlock()">Block</a>
    </div>
  </div>
</div>
