<div style="margin-right: 10px;margin-left: 10px;background-color: #f8f9fa!important" >
  <div class="container">
    <div class="row">
    </div>
  </div>
  <br>
  <div class="container-inner" style="width: 100%">
    <div class="row" style="margin-right: 10px; margin-left: 10px;">
      <div class="col-md-6">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 85%;">
          <ol class="carousel-indicators">
            <li *ngFor="let image of images,let i = index" data-target="#carousel" class="{{ (i == 0) ? 'active' : '' }}" attr.data-slide-to="{{i}}" style="background-color: #0e1d55"></li>
          </ol>
          <div class="carousel-inner">
            <app-loading *ngIf="stillLoading"></app-loading>
            <div class="carousel-item active">
              <img src="{{ images[0] }}" class="d-block w-100" alt="...">
            </div>
            <div *ngFor="let image of images | slice: 1;" class="carousel-item">
              <img src="{{ image }}" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: #0e1d55;border-radius:.25rem"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: #0e1d55;border-radius:.25rem"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <h2>
            {{ name }}
          </h2>
        </div>
        <br>
        <div class="row">
          <h2> <i class="fas fa-dollar-sign"></i> &nbsp; {{ price }}DT</h2>&nbsp;&nbsp;<h3><del>799</del></h3>
          &nbsp;&nbsp;<h3 class="text-success">30% off</h3>
        </div>
        <div class="row" style="color: #3d4549">
          <h5>Publier: &nbsp; {{ date_pub }}</h5>
        </div>
        <hr>
        <div class="row mt-4">
          <h3 class="text-info">
            <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;
          </h3>
          <p style="font-size: 20px">&nbsp;{{ville}} </p>
        </div>
        <div class="row mt-6">
          <h3 class="text-info">
            <i class="fas fa-warehouse"></i> &nbsp;
          </h3>
          <p style="font-size: 20px">&nbsp; {{ category }}  </p>
        </div>
        <hr>
        <div class="row mt-6">
          <h4>Size: {{size}}</h4>
          <!--<div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Size</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a *ngFor="let s of size" class="dropdown-item" href="#">{{ s }}</a>
            </div>
          </div>-->
        </div>
        <div class="row mt-4">
          <h4>Colors: {{color}}</h4>&nbsp;
          <!--<a href="" class="btn btn-primary text-light" >blue</a>&nbsp;
          <a href="" class="btn btn-danger text-light">red</a>&nbsp;
          <a href="" class="btn btn-info text-light" style="background-color: #1a1a1a;outline: none" >black</a>&nbsp;
          <a href="" class="btn btn-info text-light"  style="background-color: #0b2e13 ;outline: none">green</a>&nbsp;-->
        </div>
        <div class="row mt-4">
          <h4>
            <div class="avatar-upload" routerLink="../../user/{{idProp}}">{{propUsername}}
              <div class="avatar-preview">
                <div id="imagePreview" [ngStyle]="{backgroundImage: 'url(' + imgUrl + ')'}"></div>
              </div>
            </div></h4>

          <!--<a href="" class="btn btn-primary text-light" >blue</a>&nbsp;
          <a href="" class="btn btn-danger text-light">red</a>&nbsp;
          <a href="" class="btn btn-info text-light" style="background-color: #1a1a1a;outline: none" >black</a>&nbsp;
          <a href="" class="btn btn-info text-light"  style="background-color: #0b2e13 ;outline: none">green</a>&nbsp;-->
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row mt-5">
      <h2>Similar Products</h2>
    </div>
    <div class="row mt-5">
      <div class="col-md-3">
        <div class="card text-center">
          <img src="./assets/img/07/art2.jpg" class="w-100">
          <div class="card-title">
            <h4>Top Sailer</h4>
          </div>
          <div class="card-text">
            definition de produit<br><br>
            <a href="" class="btn  text-light" style="background-color: #000863" > Bye Now</a>
            &nbsp; <a href="" class="btn text-light" style="background-color: #000863"> <i class="fas fa-mobile" aria-hidden="true"></i>
            Call</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <img src="./assets/img/07/art7.jpg" class="w-100">
          <div class="card-title">
            <h4>Top Sailer</h4>
          </div>
          <div class="card-text">
            definition of product<br><br>
            <a href="" class="btn  text-light" style="background-color: #000863" > Buy Now</a>
            &nbsp; <a href="" class="btn text-light" style="background-color: #000863"> <i class="fas fa-mobile" aria-hidden="true"></i>
            Call</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <img src="./assets/img/07/art8.jpg" class="w-100">
          <div class="card-title">
            <h4>Top Sailer</h4>
          </div>
          <div class="card-text">
            definition of product<br><br>
            <a href="" class="btn  text-light" style="background-color: #000863" > Buy Now</a>
            &nbsp; <a href="" class="btn text-light" style="background-color: #000863"> <i class="fas fa-mobile" aria-hidden="true"></i>
            Call</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-center">
          <img src="./assets/img/07/art9.jpg" class="w-100">
          <div class="card-title">
            <h4>Top Sailer</h4>
          </div>
          <div class="card-text">
            definition of product<br><br>
            <a href="" class="btn  text-light" style="background-color: #000863" > Buy Now</a>
            &nbsp; <a href="" class="btn text-light" style="background-color: #000863"> <i class="fas fa-mobile" aria-hidden="true"></i>
            Call</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
